/* ==========================default-web.me========================== */
html, body{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
}


/* ========================general-center======================== */
.main-center-body{
    display: table;
    position: absolute;
    top: 0;
     /* left: 0; */
    height: 100%;
    width: 100%;  
}
.main-center{
    display: table-cell;
    vertical-align: middle; 
}
