/* ==========================variables========================== */
/* ==========================default-web.me========================== */
html, body {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  background-color: rgba(0, 128, 128, 0.02);
}

.main-body {
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
}

.body-content {
  width: auto;
  min-height: 100%;
  padding-top: 4%;
}

.header-navbar-body {
  top: 0;
  width: 100%;
  padding: 0.5% 0 0.5% 0;
  background-color: #CDCDCD;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
}

.footer {
  bottom: 0;
  margin-top: 12px;
  width: 100%;
  height: auto;
}

.footer-body {
  width: 100%;
  background-color: white;
  padding: 8px 0 8px 0;
}

.footer-content {
  text-align: center;
  margin: auto;
  font-family: montserrat;
}

.container {
  padding: 0 4% 0 4%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

.arrow-back {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  transform: translate(3em, 0);
  -o-transform: translate(3em, 0);
  -ms-transform: translate(3em, 0);
  -moz-transform: translate(3em, 0);
  -webkit-transform: translate(3em, 0);
}

.None {
  display: none;
}

/* ========================general-center======================== */
.main-center-body {
  display: table;
  position: absolute;
  top: 0;
  /* left: 0; */
  height: 100%;
  width: 100%;
}

.main-center-body-2 {
  display: table;
  position: absolute;
}

.main-center {
  display: table-cell;
  vertical-align: middle;
}

/* ========================dropdown-styling======================== */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #efefef;
  width: 8em;
  margin-top: 10px;
  overflow: auto;
  border-radius: 4px;
  z-index: 2;
}

.dropdown-menus {
  margin-top: 8%;
  margin-bottom: 8%;
  text-align: center;
  font-family: montserrat;
  cursor: pointer;
}

div.icon-dropdown {
  width: 0;
}

.dropdown-menus:hover {
  font-family: montserratSemiBold;
  color: teal;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.dropdown-menus:hover div.icon-dropdown {
  width: 2rem;
}

.show {
  display: block;
}

.show2 {
  display: block;
}

/* ========================box-styling======================== */
.element-box {
  margin: 0 auto 0 auto;
  background-color: white;
  border-radius: 8px;
  padding: 2%;
}

.form-box {
  text-align: center;
  margin: 0 auto 0 auto;
}

.input-layout-box {
  margin: 4% 0 4% 0;
}

.submit-layout-box {
  margin: 12% 0 0 0;
}

.submit-layout-box-submit {
  margin: 8% 0 0 0;
  text-align: right;
}

.title-form-box {
  margin: 0 0 12% 0;
  width: 100%;
  text-align: center;
}

.content-navbar-box {
  margin: auto;
}

.username-navbar-box {
  margin: auto 8px auto 0;
  min-width: 80px;
  text-align: right;
}

.dashboard-menu-body {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  background-color: #8d8d8d;
  border-radius: 8px;
  font-family: montserratSemiBold;
  cursor: pointer;
  width: 7rem;
  height: 6rem;
  margin-right: 3em;
  display: table;
  position: relative;
}

.dashboard-menu-body:hover {
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.dashboard-menu-layout-box {
  width: 6rem;
  height: auto;
}

.dashboard-menu-layout-box:hover .menu-title {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: teal;
}

.menu-title {
  margin-top: 8px;
  text-align: center;
  font-family: montserratSemiBold;
  color: black;
}

.dashboard-menu-body-2 {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  border-radius: 8px;
  font-family: montserratSemiBold;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: 5rem;
  height: auto;
  display: table;
  position: relative;
}

.dashboard-menu-title {
  padding: 6%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
}

.dashboard-menu-title-2 {
  padding: 6%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
}

.title-page-box {
  text-align: center;
  font-family: montserratSemiBold;
  margin: 1rem 0 1rem 0;
}

.action-icon-layout-box {
  margin: 0 4px 0 4px;
}

.action-icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-text {
  margin-top: 16px;
  margin-bottom: 8px;
  width: 100%;
}

.box-information {
  margin: 4% 0 4% 0;
}

.table-tools-box-layout {
  margin: 1% 0 1% 0;
}

.menu-rectification-box {
  margin-right: 8px;
}

/* ========================input-styling======================== */
.required {
  color: red;
}

input[type="file"], select {
  cursor: pointer;
}

.input-gnrl {
  font-family: montserrat;
}

.input-box-rounded, .button-box-rounded {
  border-radius: 16px;
  border: none;
  outline: none;
  padding: 6px 12px 6px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  font-family: montserratSemiBold;
}

.input-box-rounded:hover, .button-box-rounded:hover, .input-box-rounded:active, .button-box-rounded:active, .input-box-rounded:focus, .button-box-rounded:focus {
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.input-box-underlined {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 4px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid black 2px;
  background-color: transparent;
  font-family: montserrat;
  display: inline-block;
}

.input-box-underlined:focus, .input-box-underlined:active, .input-box-underlined:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: solid #02b3b3 2px;
}

.input-box-underlined:focus .label-input#username, .input-box-underlined:active .label-input#username, .input-box-underlined:hover .label-input#username {
  color: #02b3b3;
}

.label-input {
  font-family: montserrat;
}

/* ========================button-styling======================== */
button {
  cursor: pointer;
}

.button-box-rounded {
  background-color: #025a5a;
  color: white;
}

.button-box-navbar {
  height: 2.4rem;
  font-family: montserratSemiBold;
  border: none;
  border-bottom: solid white;
  background-color: transparent;
}

.button-box-navbar:hover {
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button-box-half-rounded, .button-box-half-rounded-sbumit {
  border-radius: 4px;
  border: none;
  outline: none;
  width: 8em;
  padding: 4px 8px 4px 8px;
  background-color: #ebebeb;
  font-family: montserrat;
}

.button-box-half-rounded-sbumit {
  background-color: #025a5a;
  color: white;
}

.button-box-half-rounded:hover, .button-box-half-rounded-sbumit:hover {
  -webkit-box-shadow: 4px 4px 4px rgba(99, 104, 105, 0.5);
          box-shadow: 4px 4px 4px rgba(99, 104, 105, 0.5);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/* ========================image-styling======================== */
.icon-footer {
  width: 28px;
  height: 28px;
}

.icon-dashboard-menus {
  width: 100%;
  height: auto;
}

.icon-user, .content-navbar-box {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}

.action-icon {
  width: 1.4rem;
  height: auto;
  cursor: pointer;
}

.img-info {
  width: 100%;
  border-radius: 8px;
}

.before {
  border: 2px solid #cf0000;
}

.before:hover {
  -webkit-box-shadow: 0 0 4px #cf0000;
          box-shadow: 0 0 4px #cf0000;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.after {
  border: 2px solid #00bbbb;
}

.after:hover {
  -webkit-box-shadow: 0 0 4px #00bbbb;
          box-shadow: 0 0 4px #00bbbb;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.caption-image-layout {
  margin: 1% 0 0 0;
  text-align: left;
  font-family: montserratSemiBold;
}

/* ========================table-styling======================== */
table {
  text-align: center;
  width: 100%;
}

th {
  font-family: montserratSemiBold;
  background-color: #01d1d1;
  color: white;
  height: 2rem;
  cursor: pointer;
}

tr:last-child td:first-child {
  border-radius: 4px 0 0 0;
}

tr:last-child td:first-child {
  border-radius: 0 4px 0 0;
}

.table-box {
  width: 100%;
  height: auto;
  overflow-x: scroll;
}

th:first-child {
  border-radius: 4px 0 0 0;
}

th:last-child {
  border-radius: 0 4px 0 0;
}

td {
  font-family: montserrat;
  word-break: break-all;
  border: 1px;
}

tr.list {
  background-color: white;
  height: 2rem;
}

tr.list:hover {
  -webkit-box-shadow: 0px 0px 8px rgba(99, 104, 105, 0.75);
          box-shadow: 0px 0px 8px rgba(99, 104, 105, 0.75);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

table.print {
  background-color: #002929;
}

tr.photo {
  background-color: white;
}

.print-table {
  border: 2px solid #002929;
  background-color: white;
  max-width: 100px;
  border-radius: 2px;
  text-align: left;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
}

.table-title {
  font-family: montserratSemiBold;
  background-color: white;
}

.table-label-print {
  font-family: montserrat;
}

.table-field-print {
  font-family: montserratSemiBold;
  color: black;
  margin: 2px 0 2px 0;
}

.table-no {
  width: 4%;
}

.table-lp {
  width: 16%;
}

.table-prod {
  width: 16%;
}

.table-model {
  width: 8%;
}

.table-station {
  width: 8%;
}

.table-line {
  width: 8%;
}

.table-date {
  width: 12%;
}

.table-reported {
  width: 12%;
}

.table-action {
  width: 16%;
}

ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

ul.pagination li {
  display: inline;
  background-color: teal;
}

ul.pagination li {
  color: black;
  background-color: white;
  padding: 4px 8px;
  float: left;
  width: 1rem;
  text-align: center;
  font-family: montserrat;
  height: auto;
}

.pagination li:first-child {
  border-radius: 4px 0 0 4px;
}

.pagination li:last-child {
  border-radius: 0 4px 4px 0;
}

.active {
  background-color: #00b4b4;
}

/* ========================font-styling======================== */
.title-form {
  font-family: montserratSemiBold;
}

.content-navbar {
  font-family: montserratSemiBold;
  margin: auto 0 auto 0;
}

.label-info {
  font-family: montserratSemiBold;
}

.value-info {
  font-family: montserrat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-break: break-all;
}

.entries-data {
  font-family: montserrat;
}

@font-face {
  font-family: montserrat;
  src: url(font_component/Montserrat-Light.ttf);
}

@font-face {
  font-family: montserratSemiBold;
  src: url(font_component/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: montserratBold;
  src: url(font_component/Montserrat-Bold.ttf);
}

/* ==========================================================link-styling========================================================== */
a {
  text-decoration: none;
}

/* ==========================================================print-styling========================================================== */
.table-print {
  width: 100%;
  table-layout: fixed;
}

th, td {
  padding: 4px;
}

/* ==========================================================modal-styling========================================================== */
.modal {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  position: fixed;
  z-index: 2;
  display: none;
}

.modal-bg {
  background-color: rgba(100, 100, 100, 0.5);
  width: 100%;
  height: 100%;
}

.modal-body {
  background-color: white;
  margin: auto;
  text-align: center;
  font-family: montserratSemiBold;
  border-radius: 8px;
}

.modal-inner-body {
  margin-left: auto;
  margin-right: auto;
  padding-top: 8%;
  padding-bottom: 8%;
}

.button-modal {
  outline: none;
  border-radius: 4px;
  border: none;
  padding: 6px;
  width: 8em;
  margin: auto;
  font-family: montserrat;
  cursor: pointer;
}

.button-modal:hover {
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: montserratSemiBold;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.modal-hover {
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.yes-modal {
  background-color: #737373;
  color: white;
}

.cancel {
  background-color: #ebebeb;
  /* margin-left: 1em; */
}

/* //phone */
@media only screen and (max-width: 599px) {
  .col-es-1 {
    width: 8.33%;
  }
  .col-es-2 {
    width: 16.66%;
  }
  .col-es-3 {
    width: 25%;
  }
  .col-es-4 {
    width: 33.33%;
  }
  .col-es-5 {
    width: 41.66%;
  }
  .col-es-6 {
    width: 50%;
  }
  .col-es-7 {
    width: 58.33%;
  }
  .col-es-8 {
    width: 66.66%;
  }
  .col-es-9 {
    width: 75%;
  }
  .col-es-10 {
    width: 83.33%;
  }
  .col-es-11 {
    width: 91.66%;
  }
  .col-es-12 {
    width: 100%;
  }
  .flex-es {
    margin-left: auto;
    margin-right: auto;
  }
  .sm-box-menu {
    width: 8em;
    height: 8em;
  }
  .input {
    width: 100%;
  }
  .main-login {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .vertical-center {
    display: table-cell;
    vertical-align: middle;
  }
  .box-header-page {
    margin-top: 6%;
    margin-bottom: 4%;
  }
  .font-size-1 {
    font-size: x-large;
  }
  .font-size-2, .title-page-box, .title-form {
    font-size: large;
  }
  .font-size-3, .caption-image-layout {
    font-size: medium;
  }
  .font-size-4, .dashboard-menu-title, .dashboard-menu-title-2, .input-box-rounded, .button-box-rounded, .label-input, .content-navbar, .label-info, .value-info, th.print, td.print {
    font-size: small;
  }
  .font-size-5, .arrow-back, .dropdown-menus, .menu-title, .input-gnrl, .button-box-half-rounded, .button-box-half-rounded-sbumit, th, td, .table-label-print, .table-field-print, .entries-data {
    font-size: smaller;
  }
  .font-size-6 {
    font-size: x-small;
  }
  .header-menu-xl {
    display: none;
  }
  .header-navbar-body {
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .header-menu-layout {
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .button-box-navbar {
    height: 1.5rem;
  }
  .icon-user, .content-navbar-box {
    width: 1.5rem;
    height: 1.5rem;
  }
  .dashboard-menu-layout-box {
    margin: 4px auto 12px auto;
  }
}

/* //tablet */
@media only screen and (min-width: 600px) {
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .main-login {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .vertical-center {
    display: table-cell;
    vertical-align: middle;
  }
  .flex-md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .box-header-page {
    margin-top: 1%;
    margin-bottom: 2%;
  }
  .box-information {
    margin-top: 2%;
  }
  .header-menu-es {
    display: none;
  }
  .header-menu-layout {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
  }
  .icon-header-nav {
    width: 2.8rem;
    height: 2.8rem;
  }
  .icon-header-nav-box {
    width: auto;
    height: 2.8rem;
  }
}

@media only screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
  .font-size-1 {
    font-size: xx-large;
  }
  .font-size-2, .title-page-box, .title-form {
    font-size: x-large;
  }
  .font-size-3, .caption-image-layout {
    font-size: large;
  }
  .font-size-4, .dashboard-menu-title, .dashboard-menu-title-2, .input-box-rounded, .button-box-rounded, .label-input, .content-navbar, .label-info, .value-info, th.print, td.print {
    font-size: medium;
  }
  .font-size-5, .arrow-back, .dropdown-menus, .menu-title, .input-gnrl, .button-box-half-rounded, .button-box-half-rounded-sbumit, th, td, .table-label-print, .table-field-print, .entries-data {
    font-size: small;
  }
  .font-size-6 {
    font-size: smaller;
  }
}

@media only screen and (min-width: 980px) {
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.33%;
  }
  .col-xl-2 {
    width: 16.66%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33%;
  }
  .col-xl-5 {
    width: 41.66%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33%;
  }
  .col-xl-8 {
    width: 66.66%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33%;
  }
  .col-xl-11 {
    width: 91.66%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
/*# sourceMappingURL=customize-stylish.me.css.map */