body, html{
    margin: 0;
    /* min-height: 100%; */
    height: 100%;    
}
.main{
    padding-left: 4%;
    padding-right: 4%;      
    height: 100%;         
}
.main-content{
    margin-top: 4%;
    height: 100%;
    min-height: 100%;
    /* padding-bottom: 4%; */
}
.main-form{
    margin-top: 4%;
}
.left{
    float: left;
    margin: 0;
}
.right{
    float: right;
    margin: 0;
}
.clear{
    clear: both;
}
.username-menu{
    font-family: montserratSemiBold;
    height: 110%;
    /* margin: 0; */

}
.flex{
    display: flex;
}

/* ==========================================================modal-styling========================================================== */
.modal{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    position: fixed;
    z-index: 2;
    display: none;
}
.modal-bg{
    background-color: rgba(196, 196, 196, 0.3); 
    width: 100%;
    height: 100%;
}
.modal-body{
    background-color: white;
    margin: auto;
    text-align: center;
    font-family: montserratSemiBold;
    border-radius: 8px;

}
.modal-inner-body{
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 8%;
}
.button-modal{
    outline: none;
    border-radius: 4px;
    border: none;
    padding: 6px;
    width: 8em;
    margin: auto;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: montserrat;
    cursor: pointer;
}
.logout{
    background-color: #737373;
    color: white;
}
.cancel{
    background-color: #ebebeb;
    /* margin-left: 1em; */
}

/* ==========================================================general-center========================================================== */
.h-v-center{
    display: table-cell;
    vertical-align: middle; 
}
.main-center{
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;  }

/* ==========================================================header-menu-styling========================================================== */
.header-menu{
    z-index: 1;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    background-color: #CDCDCD;
    padding-bottom: 0.5%;
    padding-top: 0.5%;    
    height: auto;
    
}
.icon-user{
    width: 36px;
    height: 36px;
    /* width: 10%;
    height: auto; */
    margin-left: 8px;
    cursor: pointer;
}
.icon-menu{
    width: 1.6em;
    height: 1.6em;
}
.center-username{
    padding-top: 8%;
    padding-bottom: 8%;        
    width: 100%;
}
/* button */
.menu-header{
    border-top: none; border-left: none; border-right: none;
    background-color: transparent;
    border-bottom: solid white 4px;
    /* padding: 8px; */
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    font-family: montserratSemiBold;    
    cursor: pointer;
}

/* ==========================================================footer-styling========================================================== */
.footer{
    /* position: relative; */
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer-template{
    background-color: #EFEFEF;
    text-align: center;
    padding: 4px;
}
.footer-text-1{
    font-family: montserratSemiBold;
    font-size: 70%;
}

/* ==========================================================button-sizstyling========================================================== */
.button-nrml-1{
    outline: none;
    border-radius: 4px;
    border: none;
    padding: 6px;
    width: 8em;
    background-color: #ebebeb;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: montserrat;
    cursor: pointer;
}
.button-submit-1{
    outline: none;
    border-radius: 4px;
    border: none;
    padding: 6px;
    width: 8em;
    color: white;
    background-color: #737373;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: montserrat;
    cursor: pointer;
}

/* ==========================================================image-styling========================================================== */
.back-button{
    width: 1em;
    height: 1em;
    /* padding-top: 2%; */
    margin-bottom: auto;
}
.icon-content-details{
    width: 1.6em;
    height: 1.6em;
    cursor: pointer;
}
.img-content{
    box-sizing: border-box;
    width: max-content;    
    width: 100%;
}
.img-before{
    border: 2px solid rgb(216, 50, 50);
}
.img-after{
    border: 2px solid rgb(95, 196, 64);
}
.caption-image-layout{
    font-family: montserratSemiBold;
}
/* ==========================================================box-sizing========================================================== */
.dropdwon-content{
    display: none;
    position: absolute;
    background-color: #efefef;
    width: 8em;
    overflow: auto;
    border-radius: 4px;
    z-index: 1;
}
.dropdown-menus{
    /* margin: 4% 8% 8% 4%; */
    margin-top: 8%;
    margin-bottom: 8%;
    text-align: center;
    font-family: montserratSemiBold;
    cursor: pointer;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.show{
    display: block;
}

/* ==========================================================box-sizing========================================================== */
.header-menu-es{
    padding-top: 18%;
    padding-bottom: 18%;
}
.form-login{
    background-color: #F2F2F2;
    border-radius: 8px;
    margin: auto;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 3%;
}
.layout-box-form{
    margin: auto;
    text-align: center;
}
.form{
    background-color: #F2F2F2;
    border-radius: 8px;
    margin: auto;    
    padding-top: 2%;
    padding-bottom: 3%;
}
.form-layout{
    margin: auto;
    padding-top: 3%;
    padding-bottom: 3%;
}
.header-title-layout{
    margin-bottom: 10%;
}
.box-menu-dashboard{
    text-align: center;
    box-sizing: border-box;
    color: white;
    background-color: #737373;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;    
    font-family: montserratSemiBold;
    cursor: pointer;
    width: 6em;
    height: 6em;
    margin-right: 3em;
    position: relative;
    display: table;
}
.box-image{
    background-color: #F2F2F2;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}
.box-information{
    background-color: #F2F2F2;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}
.box-text{
    margin-top: 4%;
    margin-bottom: 4%;
}
.icont-content-layout{
    margin-left: 10px;
}
/* ==========================================================form-sizing========================================================== */
.form-input-layout{
    margin-top: 12px;
    margin-bottom: 12px;
    width: 100%;
}
.form-submit-layout{
    margin-top: 28px;
    margin-bottom: 8px;
}
/* ==========================================================input========================================================== */
.form-input{
    box-sizing: border-box;
    width: 100%;
    outline: none;
    border-radius: 14px;
    font-family: montserratSemiBold;
    border: none;
    padding-left: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.submit-input-login{
    box-sizing: border-box;
    width: 100%;
    outline: none;
    border-radius: 14px;
    background-color: #737373;
    color: white;
    font-family: montserratSemiBold;
    border: none;
    padding-left: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.underlined-input{
    outline: none;
    padding: 4px;
    width: 180px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid black 2px;
    background-color: transparent;
    font-family: montserrat;

}
.underlined-select-input{
    outline: none;
    padding: 4px;
    box-sizing: content-box;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    width: 180px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid black 2px;
    background-color: transparent;
    font-family: montserrat;
}
.label-input{
    font-family: montserrat;
    font-size: 90%;
}
.label-text{
    font-family: montserrat;
    font-size: 90%
}

/* ==========================================================table========================================================== */
table{
    width: 100%;
    border: 1px solid black;
    /* table-layout: fixed; */
}
td{
    padding: 0.6em;
    border: 1px solid black;
    word-break: break-all;
    
}
.table-title{
    font-family: montserratSemiBold;
    background-color: #c4c4c4;
    text-align: center;
}
.table-label{
    font-family: montserrat;
    top: 0;
    position: relative;
}
.table-field{
    font-family: montserratSemiBold;
    margin-top: 2px;
    margin-bottom: 2px;
}
.table-field-desc{
    /* width: 50px; */
    /* box-sizing: border-box; */
    font-family: montserratSemiBold;
}

/* ==========================================================font========================================================== */

.header-box{
    font-family: montserratSemiBold;
    font-size: 170%;
    /* font-size: larger; */
}
.header-page{
    font-family: montserratSemiBold;
    font-size: 140%;
}
.montserrat{
    font-family: montserrat;
}
.montserrat-semibold{
    font-family: montserratSemiBold;
}
@font-face{
    font-family: montserrat;
    src: url(font_component/Montserrat-Light.ttf);
}
@font-face{
    font-family: montserratSemiBold;
    src: url(font_component/Montserrat-SemiBold.ttf);
}
@font-face{
    font-family: montserratBold;
    src: url(font_component/Montserrat-Bold.ttf);
}
@font-face{
    font-family: mercyText;
    src: url(font_component/Corporate\ A\ Light.ttf);
}