/* //phone */
@media only  screen and (max-width: 599px)
{
    .col-es-1 {width: 8.33%;}
    .col-es-2 {width: 16.66%;}
    .col-es-3 {width: 25%;}
    .col-es-4 {width: 33.33%;}
    .col-es-5 {width: 41.66%;}
    .col-es-6 {width: 50%;}
    .col-es-7 {width: 58.33%;}
    .col-es-8 {width: 66.66%;}
    .col-es-9 {width: 75%;}
    .col-es-10 {width: 83.33%;}
    .col-es-11 {width: 91.66%;}
    .col-es-12 {width: 100%;}   
    .flex-es{margin-left: auto;margin-right: auto;} 
    .sm-box-menu{
        width: 8em;
        height: 8em;
    }
    .input{width: 100%;}
    .main-login{display: table;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;  }
    .vertical-center {    
        display: table-cell;
        vertical-align: middle;  
    }
    .box-header-page{
        margin-top: 6%;
        margin-bottom: 4%;
    }
    .font-size-1{font-size: x-large;}
    .font-size-2{font-size: large;}
    .font-size-3{font-size: medium;}
    .font-size-4{font-size: small;}
    .font-size-5{font-size: smaller;}
    .font-size-6{font-size: x-small;}
    .header-menu-xl{display: none;}
    .header-menu{padding-top: 1%;padding-bottom: 2%;}
    .header-menu-layout{padding-top: 2%;padding-bottom: 2%;}
    .icon-header-nav{width: 1.6rem; height: 1.6rem;}
    .icon-header-nav-box{
        width: auto;
        height: 1.6rem;            
    }
}
/* //tablet */
@media only  screen and (min-width: 600px) 
{
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
    .main-login{display: table;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;  }
    .vertical-center {    
        display: table-cell;
        vertical-align: middle;  
    }
    .flex-md{
        display: flex;        
    }            
    .box-header-page{
        margin-top: 1%;
        margin-bottom: 2%;
    }
    .box-information{margin-top: 2%;}
    .header-menu-es{display: none;}
    .header-menu-layout{padding-top: 0.5%;padding-bottom: 0.5%;}
    .icon-header-nav{width: 2.8rem; height: 2.8rem;}
    .icon-header-nav-box{
        width: auto;
        height: 2.8rem;            
    }
}
@media only  screen and (min-width: 768px)
{
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
    .font-size-1{font-size: xx-large;}
    .font-size-2{font-size: x-large;}
    .font-size-3{font-size: large;}
    .font-size-4{font-size: medium;}
    .font-size-5{font-size: small;}
    .font-size-6{font-size: smaller;}
}
@media only  screen and (min-width: 980px)
{
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
}
@media only  screen and (min-width: 1200px)
{
    .col-xl-1 {width: 8.33%;}
    .col-xl-2 {width: 16.66%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.33%;}
    .col-xl-5 {width: 41.66%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33%;}
    .col-xl-8 {width: 66.66%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33%;}
    .col-xl-11 {width: 91.66%;}
    .col-xl-12 {width: 100%;}
}